.hero {
  height: 80vh;
  width: 80vw;

  margin-left: 10vw;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -80px;
  overflow-y: hidden;
}
.contentZone {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: row;
}
.image {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: row;
}
.box {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.box1 img {
  width: 90%;
  border-radius: 20px;
}
.box2 img {
  width: 90%;
  height: 100%;
  border-radius: 20px;
}
.title {
  font-family: "Antonio", sans-serif;
  font-size: 60px;
  position: relative;
  overflow: hidden;
  top: 70px;
  left: 5%;
}
.titleZone {
  width: 50%;
  height: 100%;
}
.descZone {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
.content {
  font-family: "Roboto";
  font-size: 1.2rem;
  color: gray;
  width: 78%;
  margin-top: 30px;
  overflow: hidden;
  margin-left: 10%;
}
.descZone h2 {
  font-family: "Poppins";
  font-size: 1.5rem;
  margin-top: 15%;
  margin-left: 10%;
}
.descZone img {
  position: absolute;
  top: 20%;
  left: 48%;
  width: 5%;
}
