.Assistance {
  width: 80vw;
  height: 60vh;
  position: relative;
  left: 10vw;
  margin-top: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imageZone {
  width: 40%;
  height: 100%;
}
.image {
  width: 135%;
  position: relative;
  left: -20%;
}
.contentZone {
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: "Antonio", sans-serif;
  font-size: 60px;
  position: relative;
}

.content {
  font-family: "Roboto";
  font-size: 1.2rem;
  color: gray;
  width: 72%;
  margin-top: 30px;
}
