.hero {
  width: 80vw;
  height: 70vh;

  position: relative;
  left: 10vw;
  display: flex;
  margin-top: 80px;
}
.image {
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.image img {
  width: 200%;
  position: relative;
  top: -100px;
  left: 20px;
  z-index: 10;
}
.contentZone {
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: "Antonio", sans-serif;
  font-size: 60px;
  position: relative;
  overflow: hidden;
}
.content {
  font-family: "Roboto";
  font-size: 1.2rem;
  color: gray;
  width: 78%;
  margin-top: 30px;
  overflow: hidden;
}
span {
  font-weight: bold;
  color: black;
  font-size: 1.4rem;
  overflow: hidden;
}
.number {
  width: 80px;
  height: 100%;
  position: absolute;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.number p {
  font-size: 60px;
  font-family: "Antonio";
  color: #5696b8;
  margin-top: 60px;
}
