.cloudFooter {
  background-color: #ffffff;
  color: #333;
  padding: 60px 20px 20px;
  font-family: "Roboto", sans-serif;
  border-top: 1px solid #eaeaea;
  font-size: 16px;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footerCol {
  flex: 1;
  min-width: 220px;
}

.footerLogo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.footerLogo img {
  height: 40px;
  width: auto;
}

.footerLogo span {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #2c3e50;
  text-transform: uppercase;
}

.footerHeading {

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #222;
}

.footerText,
.footerLinks li a {
  font-size: 15px;
  line-height: 2;
  color: #555;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerLinks {
  list-style: none;
}

.footerLinks li {
  margin-bottom: 10px;
}

.footerLinks li a:hover,
.footerText a:hover {
  color: #0066cc;
  padding-left: 5px;
}

.phoneContact i {
  margin-right: 8px;
  color: #333;
}
.phoneContact {
  font-size: 1.2rem;
}

.socialIcons {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.socialIcons a {
  width: 36px;
  height: 36px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.3s, background-color 0.3s;
}

.socialIcons a:hover {
  background-color: #0066cc;
  transform: translateY(-3px);
}

.newsletterLabel {
  margin-bottom: 10px;
  font-weight: 500;
}

.newsletterForm input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.newsletterForm input:focus {
  border-color: #0066cc;
}

.footerBottom {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  color: #666;
}
.email {
  text-decoration: none;
  color: #666;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    gap: 30px;
  }

  .footerLogo {
    justify-content: flex-start;
  }
}
