.hero {
  height: 80vh;
  width: 80vw;
  background-image: url("/images/bg.png");
  background-size: cover;
  margin-left: 10vw;
  /* border: 1px solid red; */
  border-radius: 10px;
  display: flex;
  position: relative;
  margin-top: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.content {
  width: 50%;
  height: 100%;
  position: absolute;
  /* border: 2px solid green; */
}

.imgPlane {
  width: 100%;
}
.title {
  font-size: 90px;
  font-family: "Antonio", sans-serif;
  position: relative;
  left: 10%;
  top: 16%;
}
.airLineName {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  position: relative;
  left: 11%;
  top: 10%;
}
.desc {
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 20%;
  width: 70%;
  left: 10%;
  color: gray;
  font-size: 1.2rem;
}
.button {
  position: relative;
  top: 25%;
  left: 10%;
}
.button button {
  width: 200px;
  border-radius: 25px;
  height: 50px;
  border: none;
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
