.bookingBar {
  display: flex;
  width: 60%;
  max-width: 1200px;
  height: 70px;
  background-color: #f4f7f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #ddd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto; /* Căn giữa component */
  margin-top: 100px;
}

.bookingTab {
  background-color: #f0bb3d;
  color: #000;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  cursor: pointer;
  font-size: 13px;
  min-width: 150px;
  white-space: nowrap;
}

.bookingTab i {
  font-size: 18px;
  margin-bottom: 5px;
}

.rightTab {
  flex-direction: row;
  gap: 10px;
  margin-left: auto;
}

.flightInfo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.infoGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.routeGroup {
  align-items: center;
}

.routeCodes {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #00264d;
}

.flightLine {
  display: flex;
  align-items: center;
  color: #555;
  font-size: 12px;
}

.dots {
  letter-spacing: -1px;
  color: #888;
  margin-right: 5px;
}

.planeIcon {
  transform: rotate(90deg);
  font-size: 10px;
}

.routeCities {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  color: #003366;
  margin-top: 2px;
  gap: 20px;
}

.label {
  font-size: 12px;
  color: #333;
  margin-bottom: 3px;
}

.value {
  font-weight: bold;
  color: #00264d;
  font-size: 15px;
}

.value i {
  font-size: 12px;
  margin-left: 3px;
}

.divider {
  width: 1px;
  height: 40px;
  background-color: #ccc;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .routeCities,
  .bookingTab span {
    display: none;
  }
  .bookingTab {
    min-width: 60px;
  }
}
